Queridos Fede y Denu,
<hr>
<strong>{{name}} {{lastname}}</strong> confirma su asistencia

x<strong>{{adults}} adultos</strong>
x<strong>{{children}} menores</strong>.
<hr>
Los invitados estan necesitan los siguientes menús especiales:
<br>
<ul>
    <li>Vegetariano: <strong>{{veggie}}</strong>.</li>
    <li>Celíacos : <strong>{{celiaco}}</strong>.</li>
</ul>
<br>
Además dejaron los siguientes comentarios y aclaraciones:
<p>{{comments}}</p>
<hr>