<style>
    body {
        font-family: Sans-serif
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 7px;
        margin-top: 15px;
    }
</style>

Queridos Fede y Denu,
<br>
<br>
<strong>{{name}} {{lastname}}</strong> confirma su asistencia, x<strong>{{adults}} adultos</strong> y x<strong>{{children}} menores</strong>.
<hr>
Los invitados solicitan los siguientes menús especiales:
<br>
<ul>
    <li>Vegetariano: <strong>{{veggie}}</strong>.</li>
    <li>Celíacos : <strong>{{celiaco}}</strong>.</li>
</ul>
<br>
Además dejaron los siguientes comentarios y aclaraciones:
<p>{{comments}}</p>
<hr>
<br>
Estos son los temas que no pueden faltar:
<br>
<table>
    <thead>
        <th>Artista</th>
        <th>Canción</th>
    </thead>
    <tbody>
        {{#songs}}
        <tr>
            <td>{{artist}}</td>
            <td>{{song}}</td>
        </tr>
        {{/songs}}
    </tbody>
</table>